certifi==2025.10.5
charset-normalizer==3.4.4
distlib==0.4.0
docutils==0.22.2
filelock==3.20.0
filetype==1.2.0
idna==3.11
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-examples==2.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
pillow==10.4.0
platformdirs==4.5.0
Pygments==2.19.2
pypiwin32==223
python-osc==1.9.3
pywin32==311
requests==2.32.5
requests-toolbelt==1.0.0
sortedcontainers==2.4.0
urllib3==2.5.0
virtualenv==20.35.3
